.todo_f44336 {
	background-color: #f44336 !important;
	color: #000 !important;
}
.todo_e91e63 {
	background-color: #e91e63 !important;
	color: #000 !important;
}
.todo_9c27b0 {
	background-color: #9c27b0 !important;
	color: #fff !important;
}
.todo_673ab7 {
	background-color: #673ab7 !important;
	color: #fff !important;
}
.todo_2196f3 {
	background-color: #2196f3 !important;
	color: #000 !important;
}
.todo_009688 {
	background-color: #009688 !important;
	color: #000 !important;
}
.todo_4caf50 {
	background-color: #4caf50 !important;
	color: #000 !important;
}
.todo_cddc39 {
	background-color: #cddc39 !important;
	color: #000 !important;
}
.todo_ffeb3b {
	background-color: #ffeb3b !important;
	color: #000 !important;
}
.todo_ff9800 {
	background-color: #ff9800 !important;
	color: #000 !important;
}
.todo_ff5722 {
	background-color: #ff5722 !important;
	color: #000 !important;
}
.todo_795548 {
	background-color: #795548 !important;
	color: #fff !important;
}
.todo_B03A2E {
	background-color: #b03a2e !important;
	color: #fff !important;
}
.todo_DAA520 {
	background-color: #daa520 !important;
	color: #000 !important;
}
.todo_FF8C00 {
	background-color: #ff8c00 !important;
	color: #000 !important;
}
.todo_FF0000 {
	background-color: #ff0000 !important;
	color: #fff !important;
}
.todo_A52A2A {
	background-color: #a52a2a !important;
	color: #fff !important;
}
.todo_8B0000 {
	background-color: #8b0000 !important;
	color: #fff !important;
}
.todo_FFD700 {
	background-color: #ffd700 !important;
	color: #000 !important;
}
.todo_FFFF00 {
	background-color: #ffff00 !important;
	color: #000 !important;
}

.todo_808000 {
	background-color: #808000 !important;
	color: #000 !important;
}
.todo_ADFF2F {
	background-color: #adff2f !important;
	color: #000 !important;
}
.todo_006400 {
	background-color: #006400 !important;
	color: #fff !important;
}

.todo_BDB76B {
	background-color: #bdb76b !important;
	color: #000 !important;
}

a {
	color: inherit !important;
	text-decoration: underline !important;
	font-weight: 700 !important;
}
